@model IEnumerable<Common.Models.Basket>

@{
    ViewBag.Title = "ShowBasket";
    Layout = "~/Views/LayoutView.cshtml";
}

<h2>Show Basket</h2>

  
    <table class="table">
        <tr>   
            <th>
                @Html.DisplayName("Match")
            </th>
            <th>
                @Html.DisplayName("Sport")
            </th>
            <th>
                @Html.DisplayName("Tournament")
            </th>
            <th>
                @Html.DisplayName("Date")
            </th>
            <th>
                @Html.DisplayName("Event")
            </th>
            <th>
                @Html.DisplayName("Coefficient")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @Html.DisplayFor(modelItem => item.Match.Teams[0].Name) (@Html.DisplayFor(modelItem => item.Match.Teams[0].Country.Name)) vs 
                    @Html.DisplayFor(modelItem => item.Match.Teams[1].Name) (@Html.DisplayFor(modelItem => item.Match.Teams[1].Country.Name))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match.SportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match.Tournament.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match.Events[0].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match.Events[0].Coefficient)
                </td>
                <td>                    
                    @Html.ActionLink("Delete", "DeleteBasket", new { basketId = item.BasketId })
                </td>
            </tr>
        }
        <tr>
            <td>@Html.DisplayName("Total")</td>
            <td>
            </td>
            <td>
            </td>
            <td>
               @ViewBag.Total
            </td>
        </tr>
        @if (ViewBag.MakeRate)
        {
            <tr>
                <td>
                    @Html.ActionLink("Make the Rate", "MakeRate")            
                </td>
            
            </tr>
        }
    </table>

    
