@model IEnumerable<Common.Models.Match>

@{
    Layout = @"\Views\LayoutView.cshtml"; //null;// @"\Views\MasterView.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $("#dateField").datepicker({
            dateFormat: 'yy-dd-mm'
        });
    });
    </script>

    @section Scripts
{
        <script src="~/scripts/main.js"></script>
        <script type="text/javascript">
        window.jsonVar = window.JsonClass('@Html.Raw(Url.Action("GetMessage", "Sort"))', '@Html.Raw(Url.Action("SaveMessage", "Sort"))')
        </script>
    }

    <title>Sort</title>
</head>
<body>
    <br />
    <br />
    <br />
    <h2>
        Sorting
    </h2>

    Select Sport
    @Html.DropDownList("sport", ViewBag.Sports as SelectList)


    Select Status
    <select id="status">
        <option value="0">None</option>
        <option value="1">Past Events</option>
        <option value="2">Current Events</option>
        <option value="3">Future Events</option>
    </select>

    Date Match
    <input type="text" id="dateField" value="EnterDate" />

    <input type="button" value="Sort" id="btnSort" />

    <table class="table">
        <tr>
            <th>
                Tournament
            </th>
            <th>
                Home Team
            </th>
            <th>
                Guest Team
            </th>
            <th>
                Date
            </th>
            <th>
                Score
            </th>
            <th>

            </th>

        </tr>
        
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tournament.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teams[0].Name)
                        (@Html.DisplayFor(modelItem => item.Teams[0].Country.Name))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teams[1].Name)
                        (@Html.DisplayFor(modelItem => item.Teams[1].Country.Name))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                    <td>
                        
                            @Html.RouteLink("Show Coefficients", new
       {
           controller = "Sort",
           action = "ShowCoefficient",
           matchId = item.MatchId
       }, new
       {
           @class = "btn btn-block btn-default btn-lg"

       })
                        





                    </td>

                </tr>
            }

        

    </table>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $('#sport').prepend('<option value="0">None</option>');
        $("#sport :first").attr("selected", "selected");
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#btnSort").click(function () {
            var sportId = $("#sport").val();
            var dateMatch = $('#dateField').val();
            if (dateMatch == 'EnterDate')
            {
                dateMatch = '';
            }
            var status = $('#status').val();           

            $.ajax({
                type: 'GET',
                dataType:'json',
                url: '/Sort/AjaxMethod?sportId=' + sportId+'&dateMatch='+dateMatch+'&status='+status,
                success: function (data) {
                    $('.table').empty();
                    $('.table').append("<tr><th>Tournament</th><th>Home Team</th> <th> Guest Team</th>  <th> Date </th><th> Score </th>  </tr>");
                    $(data).each(function (index, item) {                        
                        
                        var re = /-?\d+/;
                        var m = re.exec(item.Date);
                        var date = new Date(parseInt(m[0]));                       
                        $('.table').append("<tr><td>" + item.Tournament.Name + "</td><td>" + item.Teams[0].Name + "</td><td>" + item.Teams[1].Name + "</td><td>" + date + "</td><td>" + item.Score + "</td><td></tr>");
                        
                    })
                    

                }
            });
        })
    })
</script>

