@model IEnumerable<Common.Models.Match>

@{
    Layout = @"\Views\LayoutView.cshtml"; //null;// @"\Views\MasterView.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $("#dateField").datepicker({
            dateFormat: 'yy-dd-mm'
        });
    });
    </script>
    <title>Sort</title>
</head>
<body>
    <br />
    <br />
    <br />
    <h2>
        Sorting
    </h2>
    
        Select Sport  
        @Html.DropDownList("sport", ViewBag.Sports as SelectList)
    
    
        Select Status 
    <select id="status">
        <option value="0">None</option>
        <option value="1">Past Events</option>
        <option value="2">Current Events</option>
        <option value="3">Furure Events</option>        
    </select>
    
        Date Match
    <input type="text" id="dateField" value="EnterDate" />
        
    <input type="button" value="Sort" id="btnSort"/>
    
    <table class="table">
        <tr>
            <th>
                Tournament
            </th>
            <th> 
                Home Team
            </th>
            <th>
                Guest Team
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teams[0].Name)
                (@Html.DisplayFor(modelItem => item.Teams[0].Country.Name))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teams[1].Name)
                (@Html.DisplayFor(modelItem => item.Teams[1].Country.Name))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            
        </tr>
    }
    
    </table>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $('#sport').prepend('<option value="0">None</option>');
        $("#sport :first").attr("selected", "selected");
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#btnSort").click(function () {
            var sportId = $("#sport").val();
            var dateMatch = $('#dateField').val();
            if (dateMatch == 'EnterDate')
            {
                dateMatch = '';
            }
            var status = $('#status').val();
            alert(sportId);
            alert(dateMatch);
            alert(status);
            $.ajax({
                type: 'GET',
                url: '/Sort/Match?sportId=' + sportId+'&dateMatch='+dateMatch+'&status='+status,
                success: function (data) {
                    $('.table').replaceWith(data);

                }
            });
        })
    })
</script>

