@model Common.Models.User

@{
    ViewBag.Title = "ShowUserProfile";
    Layout = "~/Views/LayoutView.cshtml";
}

<h2>ShowUserProfile</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Money)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Money)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>

<table class="table">
    <tr>
        <th>
            Date And Time
        </th>
        <th>
            Amount
        </th>
        <th></th>
    </tr>
    @foreach (var item in ViewBag.Rates)
    {
        <tr>
            <td>
                @item.DateRate
            </td>
            <td>
                @item.Amount
            </td>
            <td>
                @Html.RouteLink("Show Bets", new
           {
               controller= "Sort",
               action= "ShowBetsByRate",
               rateId= item.RateId
           })

            </td>
        </tr>
    }
</table>
<br />
<p>
    @Html.ActionLink("Edit User Profile", "EditUserProfile", new { userId = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
