@model Common.Models.Bet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rate</title>
</head>
<body>
    <input type="button" onclick="history.back(-2); return false;" value="Back" />

    <h2>
        @Model.Match.Teams[0].Name.ToString() vs @Model.Match.Teams[1].Name.ToString()
    </h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinCommandHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinCommandGuest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Draw)
            </th>
            
            <th></th>
        </tr>
           
        <tr>
            <td>
                @Html.DisplayFor(model => model.BetId)
            </td>            
            <td>
                @Html.DisplayFor(model => model.WinCommandHome)
            </td>
            <td>
                @Html.DisplayFor(model => model.WinCommandGuest)
            </td>
            <td>
                @Html.DisplayFor(model => model.Draw)
            </td>
            
            
        </tr>
    
    
    </table>
</body>
</html>
