@model IEnumerable<Common.Models.Sport>

@{
    Layout = @"\Views\LayoutView.cshtml"; 
}
<br />
<br />
<br />
    <p>
        @Html.ActionLink("Create New", "AddSport")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditSport", new { id=item.SportId }) |               
                @Html.ActionLink("Delete", "DeleteSport", new { id=item.SportId })
            </td>
        </tr>
    }
    
    </table>

