@model Common.Models.Match

<div id="teams">
    <div class="form-group">
        @Html.Label("Home Team", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TeamHomeId, ViewBag.Teams as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TeamHomeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Guest Team", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TeamGuestId, ViewBag.Teams as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TeamGuestId, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
