@model IEnumerable<Common.Models.Match>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowMatches</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "AddMatch")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TournamentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourId)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditMatch", new { id=item.MatchId }) |
                @Html.ActionLink("Details", "Details", new { id=item.MatchId }) |
                @Html.ActionLink("Delete", "DeleteMatch", new { id=item.MatchId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
