@model IEnumerable<Common.Models.Match>

@{
    Layout = @"\Views\LayoutView.cshtml"; 
}

<br />
<br />
<br />

    <p>
        @Html.ActionLink("Create New", "AddMatch")
    </p>
@using (Html.BeginForm("ShowMatches", "Match", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Home Team")
            </th>
            <th>
                @Html.DisplayName("Guest Team")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayName("Tournament")
            </th>
            <th>
                @Html.DisplayName("Result")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            
            <th></th>
        </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Teams[0].Name) (@Html.DisplayFor(model => item.Teams[0].Country.Name))
            </td>
            <td>
                @Html.DisplayFor(model => item.Teams[1].Name) (@Html.DisplayFor(model => item.Teams[1].Country.Name))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "EditMatch", new { id = item.MatchId }) |
                @Html.ActionLink("Show Coefficients", "ShowCoefficient", new { id = item.MatchId, date = item.Date }) |
                @Html.ActionLink("Delete", "DeleteMatch", new { id = item.MatchId })
            </td>
        </tr>
    }
    
    </table>

    <br />
    <ul class="pagination">

        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {
            <li>
                @if (i != ViewBag.CurrentPageIndex)
                    {
                    <a href="javascript:PagerClick(@i);">@i</a>
                }
                else
                {
                    <span>@i</span>
                }
            </li>
        }

    </ul>
            <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />

}

<script type="text/javascript">
            function PagerClick(index) {
                document.getElementById("hfCurrentPageIndex").value = index;
                document.forms[0].submit();
            }
</script>